# .replit
entrypoint = "server/index.ts"
modules = ["nodejs-20:v1-20230825-f033103"]
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-23.11"
deps = [
  "pkgs.nss",
  "pkgs.nspr",
  "pkgs.alsa-lib",
  "pkgs.libxss",
  "pkgs.libxkbcommon",
  "pkgs.xorg.libxcomposite",
  "pkgs.xorg.libxfixes",
  "pkgs.xorg.libxrandr",
  "pkgs.xorg.libxdamage",
  "pkgs.xorg.libxext",
  "pkgs.xorg.libxshmfence",
  "pkgs.at-spi2-core",
  "pkgs.at-spi2-atk",
  "pkgs.atk",
  "pkgs.cairo",
  "pkgs.cups",
  "pkgs.dbus",
  "pkgs.expat",
  "pkgs.fontconfig",
  "pkgs.freetype",
  "pkgs.gdk-pixbuf",
  "pkgs.glib",
  "pkgs.harfbuzz",
  "pkgs.pango",
  "pkgs.udev",
  "pkgs.gtk3",
  "pkgs.xorg.libX11",
]

[deployment]
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]
deploymentTarget = "cloudrun"

[server]
command = ["npm", "run", "dev"]